<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Przepisy</title>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="Dashboard">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="/dashboard">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <%= link_to "Przepisy", recipes_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Kategorie", categories_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Składniki", ingredients_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= button_to "Wyloguj się", logout_path, method: :delete, class: "nav-link" %>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <section class="content-section">
    <h1>Przepisy</h1>

    <div class="row">
      <% @recipes.each do |recipe| %>
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><%= recipe.title %></h5>
              <p><strong>Przygotowanie:</strong> <%= recipe.instructions %></p>
              <p><strong>Czas:</strong> <%= recipe.prep_time %> minutes</p>
              <p><strong>Porcje:</strong> <%= recipe.servings %></p>

              <% if recipe.ingredients.any? %>
                <p><strong>Składniki:</strong></p>
                <ul>
                  <% recipe.ingredients.each do |ingredient| %>
                    <li><%= ingredient.name %></li>
                  <% end %>
                </ul>
              <% else %>
                <p>Nie ma dodanych składników do tego przepisu.</p>
              <% end %>

              <% if recipe.categories.any? %>
                <p><strong>Kategorie:</strong></p>
                <ul>
                  <% recipe.categories.each do |category| %>
                    <li><%= category.name %></li>
                  <% end %>
                </ul>
              <% else %>
                <p>Ten przepis nie posiada kategori.</p>
              <% end %>

              <%= link_to "Pokaż Przepis", recipe, class: "btn" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <%= link_to "Dodaj Przepis", new_recipe_path, class: "btn" %>

  </section>


  <footer>
    <p>Moja Strona &copy; 2024. Wszelkie prawa zastrzeżone.</p>
  </footer>
</div>
</body>
</html>
