<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Logowanie</title>
  <%= csrf_meta_tags %>
</head>
<body>

<h1 class="my-4 text-center">Logowanie</h1>

<div class="Login-Form">
  <div class="card" style="max-width: 500px; margin: 0 auto;">
    <div class="card-body">
      <%= form_with url: '/login', method: :post, data: { turbo: false } do |f| %>
        <div class="form-group">
          <%= f.label :email, "E-mail", class: "form-label" %>
          <%= f.email_field :email, class: "form-control", required: true %>
        </div>

        <div class="form-group">
          <%= f.label :password, "Hasło", class: "form-label" %>
          <%= f.password_field :password, class: "form-control", required: true %>
        </div>

        <div class="form-group text-center">
          <%= f.submit "Zaloguj się", class: "btn" %>
        </div>

        <p class="text-center">
          <%= link_to "Rejestracja", register_path, class: "btn" %>
        </p>

      <% end %>
    </div>
  </div>
</div>

</body>
</html>
