<div class="container my-5">
  <div class="card">
    <div class="card-header">
      <h1 class="my-4"><%= @ingredient.name %></h1>
    </div>
    <div class="card-body">
      <p>Nazwa: <%= @ingredient.name %></p>
      <p>Kalorie: <%= @ingredient.calories %></p>
      <p>Jednostka: <%= @ingredient.unit %></p>
    </div>

    <div class="card-footer text-center">
      <%= link_to "Edytuj Składnik", edit_ingredient_path(@ingredient), class: "btn" %>
      <%= link_to "Powrót do Składników", ingredients_path, class: "btn" %>
      <%= button_to "usuń Składnik", @ingredient, method: :delete, class: "btn" %>
    </div>
  </div>
</div>
