<div class="container my-5">
  <div class="card">
    <div class="card-header">
      <h1 class="my-4"><%= @category.name %></h1>
    </div>
    <div class="card-body">
      <p>Opis: <%= @category.description %></p>
    </div>

    <div class="card-footer text-center">
      <%= link_to "Edytuj Kategorie", edit_category_path(@category),class: "btn" %>
      <%= link_to "Powrót do Kategori", categories_path, class: "btn" %>
      <%= button_to "Usuń Kategorie", @category, method: :delete, class: "btn" %>
    </div>
  </div>
</div>
